.BodyAndShower-container {
  height: 813px;

  background: url("./img/BodyAndShower.png");
  background-size: contain;
  background-repeat: no-repeat;

  color: white;
  padding: 205px 0 0 151px;

  display: flex;
  flex-direction: column;

  justify-content: left;

  &-title {
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 92.1471px;
    line-height: 92px;
    min-width: 623px;
    min-height: 195px;
    max-width: 623px;
    max-height: 195px;
    text-align: left;
    margin: 0;
  }

  &-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 137.69%;

    margin: 8px 0 0 0;
    min-width: 450px;
    min-height: 99px;
    max-width: 450px;
    max-height: 99px;

    text-align: left;
  }

  &-button {
    margin-top: 32px;
    width: 249px;
    height: 50px;

    border: 2px solid #ffffff;

    background: transparent;

    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 11.7143px;
    line-height: 18px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;

    cursor: pointer;
  }
}
